/* .ant-radio-button-wrapper > span {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
} */
label.ant-radio-button-wrapper:nth-child(1) {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}
label.ant-radio-button-wrapper:nth-child(2) {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@keyframes flash {
    0% {
      opacity: 0; /* Start with no visibility */
    }
    100% {
      opacity: 1; /* Fully visible */
    }
}