@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  padding: 0.5%;
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: visible;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.btn {
  @apply bg-white border rounded w-fit transition-colors hover:bg-sky-500/70;
}