#root {
  margin: 0 auto;
  padding: 0.5%;
  text-align: center;
  width: 100vw;
  height: 98vh;
  overflow: visible;
}

.btn {
  @apply bg-white border rounded w-fit transition-colors hover:bg-sky-500/70;
}

.ant-btn {
  @apply flex justify-center items-center;
}

.ant-btn-icon {
  @apply w-fit h-fit;
}